<section style="border: 1px solid lightgray; padding: 10px;">
  <h2>QPS</h2>

  <table>
    <tbody>
      <tr>
        <td>String: "{{string}}"</td>
        <td>Number: {{number}}</td>
        <td>bool: {{bool}}</td>
      </tr>
      <tr>
        <td><input type="text" id="qps-input-text" value={{string}} oninput={{action (mut string) value="target.value"}}></td>
        <td><input type="number" id="qps-input-number" value={{number}} oninput={{action (mut number) value="target.value"}}></td>
        <td><input type="checkbox" id="qps-input-bool" checked={{bool}} onchange={{action (mut bool) value="target.checked"}}></td>
      </tr>
    </tbody>
  </table>

  <div style="display: flex;">
    <ul class="link-tos">
      <h3>Link-to</h3>
      {{#each model as |pet|}}
        <li>
          {{#link-to 'qps.details' pet}}{{pet.name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>

    <ul class="href-tos">
      <h3>href-to</h3>
      {{#each model as |pet|}}
        <li>
          <a href="{{href-to 'qps.details' pet}}">{{pet.name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>

  {{outlet}}
</section>